.btn {
    background: linear-gradient(to right, slategray, slategrey);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    box-shadow: 0px 1px 3px black;
    margin-left: 10px;
}
.btnlogin {
    background: linear-gradient(to right, green, #30c030);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    box-shadow: 0px 1px 3px black;
    margin-left: 10px;
}
a{
    color: white;
}
