body {
  background-color: black;
  height: 100vh;
  color: white;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}
h1,h2,h3,h4{
  color: white;
  font-family: 'Mulish';
  font-weight: bold;
}
a.nav-link{
  margin-top: 5px;
}