body {
  background-color: #000000;
  height: 100vh;
  color: white;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

h1,h2,h3,h4 {
  color: white;
  font-family: 'Mulish';
  font-weight: bold;
}

a.nav-link {
  margin-top: 5px;
}
a {
  color: gray;
}

a:hover{
  color: white;
}
div.apoie h{
  color: black;
}
div.apoie{
  background-image: url("../img/lab.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
div.sobre{
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  height: 200px;
  color: black;
  width: 350px;
}
div.sobre h3{
  color: black;
}
button.doar{
  font-weight: bold;
  color: black;
  background-color: mediumseagreen;
  border: none;
  padding: 10px;
}