body {
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

h1,h2,h3,h4 {
  color: white;
  font-family: 'Mulish';
  font-weight: bold;
}

a.nav-link {
  margin-top: 5px;
}
a {
  color: gray;
}
button{
  color: white;
}
a:hover{
  color: white;
}
div.apoie h{
  color: black;
}
div.sobre{
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  height: 220px;
  color: black;
  width: 300px;
}
div.sobre h3{
  color: black;
}
button.doar{
  font-weight: bold;
  background-color: mediumseagreen;
  border: none;
  padding: 10px;
}