.navbar {
  width: 100%;
}

.navbar a {
  color: white;
  float: left;
  text-decoration: none;
  padding: 14px 16px;
}

.navbar .down {
  margin-top: 1.5%;
}

.slider .down-scr {
  position: absolute;
  top: 20%;
  font-size: 20px;
  left: 80%;
}

@media only screen and (max-width: 600px) {
  .navbar a {
    margin-top: 10%;   
  }
}