button.btncad {
    background: #1c252c;
    border: none;
    color: white;
    padding: 10px;
}
button.btnlogin {
    background: mediumseagreen;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin-left: 10px;
}
