form#cadastro {
  font-family: 'Mulish';
  text-align: center;
  background-color: transparent;
  border-radius: 3px;
  height: 300px;
  width: 240px;
  margin-right: auto;
  margin-left: auto;
}

form#cadastro input{
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
}
::placeholder{
  color: white;
  opacity: 0.8;
}
input#enviar{
  background-color: white;
  color: black;
}